/* Feuille de style Booki.com

Auteur : Rémy Balland
*/

/* Resets */

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #0065fc;
  --primary-light: #deebff;
  --back-grey: #d9d9d9;
  --back-light-grey: #f2f2f2;
}

body {
  max-width: 1440px;
  min-width: 310px;
  margin-inline: auto;
  overflow-x: hidden;
}

h1 {
  font-size: 1.75em;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  color: var(--primary-color);
}

main {
  margin: 3em;
}

input {
  border: none;
  color: black;
  background-color: transparent;
}

::placeholder {
  color: black;
  opacity: 1;
}

button {
  border: none;
}

.flex {
  display: flex;
}

.titre {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  main {
    margin: 1.5em 0;
  }
  .main-title,
  .nav-filtre,
  section {
    margin-inline: 1.5em;
  }
}
/* 
////////////////
    HEADER
////////////////
*/

.header {
  align-items: center;
}

.header img {
  max-height: 2em;
  margin: 3em;
  width: 60px;
}

.header nav {
  margin-left: auto;
  margin-right: 3em;
}

.header nav ul {
  gap: 1em;
}

.header nav ul li a {
  padding-inline: 1em;
  border-top: 2px solid;
  border-color: transparent;
  padding-top: 3em;
}

.header nav ul li,
.header nav ul li a {
  transition: all 0.1s ease;
}

.header nav ul li:hover a {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

@media (max-width: 768px) {
  .header img {
    margin: 2em;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header nav {
    margin: 0;
    width: 100%;
  }

  .header nav ul {
    gap: 0;
  }

  .header nav ul li {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid var(--back-grey);
  }

  .header nav ul li a {
    display: block;
    text-align: center;
    padding: 0 0 1.7em 0;
    border-top: none;
  }

  .header nav ul li:hover {
    border-color: var(--primary-color);
  }
}

/* 
//////////
SEARCH & FILTRES
//////////
*/
/* Search */
.search {
  margin-block: 2em;
  width: max-content;
  border: 1px solid var(--back-light-grey);
  border-radius: 15px;
  overflow: hidden;
}

.search input,
.search button {
  font-weight: 600;
  font-size: large;
  padding: 15px;
  outline: none;
  margin: 0;
}

.search button {
  background-color: var(--primary-color);
  cursor: pointer;
}

.search button,
.search button i {
  color: #fff;
}

.search button i {
  display: none;
}

.search label {
  display: grid;
  place-content: center;
  padding: 15px;
  background-color: var(--back-light-grey);
}

.search label i {
  color: black;
}

/* Filtres */

.filtre {
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.filtre,
.filtre ul {
  gap: 2em;
  align-items: center;
}

.filtre ul {
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: max-content;
  font-weight: 600;
  font-size: large;
  padding-block: 15px;
  padding-inline: 20px;
  border: 2px solid var(--back-grey);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.1s ease;
  white-space: nowrap;
}

.btn i {
  margin-right: 15px;
  font-size: larger;
}

.btn:hover {
  background-color: var(--primary-light);
}

.nav-filtre .info {
  align-items: center;
  gap: 1em;
}

.nav-filtre .info i {
  display: grid;
  place-content: center;
  font-size: small;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid var(--back-grey);
  border-radius: 50%;
}

@media (max-width: 992px) {
  .filtre {
    gap: 1em;
  }

  .filtre h2 {
    font-size: medium;
  }

  .btn {
    font-size: 15px;
    padding: 8px 12px;
  }
}

@media (max-width: 768px) {
  /* search */
  .search,
  .search input,
  .search ::placeholder,
  .search button {
    font-size: small;
  }

  .search button span {
    display: none;
  }

  .search button i {
    display: flex;
  }

  /* Filtres */
  .filtre {
    flex-direction: column;
    align-items: flex-start;
  }

  .filtre ul {
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
  }

  .filtre ul li {
    width: 48%;
  }
}

@media (max-width: 576px) {
  .filtre ul {
    justify-content: unset;
  }

  .filtre ul li {
    width: 46%;
  }
  .btn {
    font-size: 12px;
  }
  .btn i {
    margin-right: 4px;
  }
  .nav-filtre .info i {
    align-self: flex-start;
  }

  /* .nav-filtre .info {
    font-size: 14px;
  } */
}

/* 
/////////////////
MAIN CONTENT
////////////////

- Section hebergement
*/

section {
  margin-block: 3em;
  gap: 3em;
}

section .list-annonce.hebergement {
  width: 68%;
}

section .list-annonce {
  padding: 2em;
  background-color: var(--back-light-grey);
  border-radius: 20px;
}

.grille-annonce {
  display: grid;
  grid: auto / 1fr 1fr 1fr;
  gap: 2em;
  padding-top: 1em;
}

.card-annonce {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  height: 200px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card-annonce img {
  width: 100%;
  height: 63%;
  border-radius: 20px 20px 0 0;
  border: 5px solid white;
  object-fit: cover;
}

.card-annonce .descri {
  padding-left: 15px;
  font-size: small;
}

.card-annonce .descri > * {
  padding-top: 5px;
}

.list-annonce button {
  margin-top: 2em;
  background-color: transparent;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

/* Populaire */
section .list-annonce.populaire {
  width: 28%;
}
.populaire .titre {
  width: 100%;
  align-items: center;
}

.populaire .titre i {
  margin-left: auto;
}

.populaire .grille-annonce {
  grid: auto / 1fr;
}

.list-annonce.populaire .card-annonce {
  flex-direction: row;
  height: 144px;
}
.list-annonce.populaire .card-annonce img {
  height: 100%;
  width: 40%;
  border-radius: 20px 0 0 20px;
}

.list-annonce.populaire .card-annonce .descri {
  display: flex;
  flex-direction: column;
  padding: 15px;
  max-width: 60%;
}

.list-annonce.populaire .card-annonce .descri ul {
  margin-top: auto;
}

@media (max-width: 1200px) {
  .hebergement .grille-annonce {
    grid: auto / 1fr 1fr;
  }
  section .list-annonce.populaire {
    width: 35%;
  }
}

@media (max-width: 992px) {
  .section-annonce {
    flex-direction: column;
  }
  section.section-annonce .list-annonce {
    width: auto;
  }

  /* hebergement */
  .hebergement .grille-annonce {
    grid: auto / 1fr 1fr 1fr;
  }
  /* Populaire */
  section.section-annonce .populaire .grille-annonce {
    grid: auto / 1fr 1fr 1fr;
  }
  .list-annonce.populaire .card-annonce .descri {
    padding: 8px;
  }
  .list-annonce.populaire .card-annonce .descri ul {
    margin-top: auto;
    margin-bottom: 4px;
  }
}

@media (max-width: 768px) {
  .section-annonce {
    margin-inline: 0;
  }
  section .list-annonce {
    padding-inline: 1.5em;
  }
  /* Hebergement */
  .hebergement .grille-annonce {
    grid: auto / 1fr;
  }
  /* Populaire */
  section.section-annonce .populaire {
    order: 1;
    border-radius: 0;
  }

  section.section-annonce .hebergement {
    order: 2;
    background-color: transparent;
  }

  section.section-annonce .populaire .grille-annonce {
    grid: auto / 1fr;
  }
  .list-annonce.populaire .card-annonce .descri {
    padding: 15px;
  }
  .list-annonce.populaire .card-annonce .descri ul {
    margin-top: auto;
  }
}

/* 
/////////////
ACTIVITES 
////////////
*/

.grille-activite {
  display: grid;
  grid: auto / 1fr 1fr 1fr 1fr;
  gap: 2em;
  padding-top: 1em;
}

.grille-activite .card {
  height: 444px;
}

.grille-activite .card img {
  border: none;
  height: 90%;
}

.grille-activite .card h3 {
  font-size: medium;
  margin-top: 10px;
  padding-left: 1em;
}

@media (max-width: 992px) {
  .grille-activite .card {
    height: 270px;
  }

  .grille-activite .card img {
    height: 80%;
  }
}

@media (max-width: 768px) {
  .grille-activite {
    grid: auto / 1fr;
  }

  .grille-activite .card {
    height: 190px;
  }
}

/* 
///////////
FOOTER
//////////
*/

.footer {
  margin: 3em 3em 0;
  padding: 45px 70px;
  background-color: var(--back-light-grey);
}

.footer .titre {
  font-size: large;
}

.footer > div {
  width: 33%;
}

.footer > div,
.footer > div ul {
  flex-direction: column;
}

.footer > div > ul li {
  padding-block: 5px;
}

@media (max-width: 992px) {
  .footer {
    justify-content: space-between;
    font-size: 15px;
  }

  .footer .titre {
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 45px 2em;
    margin: 0;
    gap: 2em;
    font-size: 1em;
  }

  .footer .titre {
    font-size: large;
  }

  .footer > div {
    width: 100%;
  }
}
